
body{
    background-color: rgb(214, 53, 3);
}

.titoloHomepage{
    background-color:rgb(21, 21, 21) ;
    
  
}
.coloreFooter{
    background-color:rgb(21, 21, 21) ;
}
.coloreForm{
    background-color: rgb(10, 10, 10);
}
.bottoneForm{
    background-color:rgb(21, 21, 21) ;
}
.barreForm{
    background-color:rgb(21, 21, 21);
}